<h1><%= @flat.title %></h1>

<p><strong>Preço:</strong> <%= number_to_currency(@flat.price) %></p>

<p><strong>Endereço:</strong> <%= @flat.address %></p>
<% @flat.fotos.each do |foto| %>
<%= cl_image_tag foto.key,width:300 %>
<% end %>

<p><%= link_to "Editar", edit_flat_path(@flat) %></p>
<p><%= link_to "Booking this flat", new_flat_booking(@flat) %></p>

<p><%= button_to "Excluir", flat_path(@flat), method: :delete, data: { confirm: "Tem certeza que deseja excluir este Flat?" } %></p>

<%= link_to "Voltar para a lista de Flats", flats_path %>

<h2>Comentários:</h2>
<%  @flat.comments.each do |comment| %>
<p> <%= comment.content %></p>
<%end %>

<h2>Adicionar comentário:</h2>
<%= form_for([@flat, @comment]) do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit "Criar Comentário"%>
 <%end %>
