<h1 class="text-center mb-4">Congratulations this is your reservations!!!</h1>
<div class="container">
  <div class="cards">
    <% @bookings.each do |booking|%>
      <div class="card">
        <% if booking.flat.photos.attached? %>
          <img class="card-img-top" src="<%= cl_image_path booking.flat.photos.first.key %>" alt="Card image cap">
        <% else %>
          <img class="card-img-top" src="https://picsum.photos/id/1015/300/200" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%=booking.flat.title%></h5>
          <div class="card-info">
            <p class="card-city-country"><%=booking.flat.city%></p>
            <p class="card-description">One line of description</p>
            <i class="fa-regular fa-calendar-days"><%= booking.start_date.strftime("%d/%m/%Y") %> --> <%= booking.end_date.strftime("%d/%m/%Y")%> </i>
            <p class="card-price">$<%=booking.flat.price%>0</p>
            <div class="card-rating">
              <i class="fa fa-star">4,89</i>
            </div>
            <%= link_to "View Details", booking_path(booking), id: "view-details-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
