<h1 class="text-center mb-4">Your Flats</h1>
<div class="container">
  <div class="cards">
    <% @flats.each do |flat|%>
      <div class="card">
        <% if flat.fotos.attached? %>
          <img class="card-img-top" src="<%= cl_image_path flat.fotos.first.key %>" alt="Card image cap">
        <% else %>
          <img class="card-img-top" src="https://picsum.photos/id/1015/300/200" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%=flat.title%></h5>
          <div class="card-info">
            <p class="card-city-country"><%=flat.city%></p>
            <p class="card-description">One line of description</p>
            <p class="card-price">$<%=flat.price%>0</p>
            <div class="card-rating">
              <i class="fa fa-star">4,89</i>
            </div>
            <%= link_to "View Details", flat_path(flat) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
